POSTGRES_DB=legalmind
POSTGRES_USER=legalmind
POSTGRES_PASSWORD=CHANGE_ME_LONG_RANDOM_PASSWORD
POSTGRES_PORT=5432
QDRANT_PORT=6333
QDRANT_GRPC_PORT=6334
LEGALMIND_DATA_DIR=/opt/legalmind-data
LEGALMIND_BACKUP_DIR=/opt/legalmind-backups
TZ=Asia/Kuwait
